{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">📁 Kategoriyalar</h3>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form method="POST" action="/admin/categories/add">
            <div class="row">
                <div class="col-md-5">
                    <input name="name" class="form-control" placeholder="Kategoriya nomi" required>
                </div>

                <div class="col-md-3">
                    <input name="icon" class="form-control" placeholder="Emoji (optional)">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-dark w-100">Qo‘shish</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nomi</th>
                <th>Emoji</th>
                <th></th>
            </tr>

            {% for c in categories %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.icon }}</td>
                <td>
                    <form method="POST" action="/admin/categories/{{ c.id }}/delete">
                        <button class="btn btn-sm btn-danger">O‘chirish</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
