{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3 text-center">Admin tizimga kirish</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Login</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Parol</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Kirish</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
