{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">📦 Buyurtmalar</h3>

<div class="card shadow-sm mb-3">
    <div class="card-body">

        <form method="GET" class="row">

            <div class="col-md-4">
                <select name="status" class="form-select">
                    <option value="">Barchasi</option>
                    <option value="NEW">NEW</option>
                    <option value="PENDING">PENDING</option>
                    <option value="IN_PROGRESS">IN_PROGRESS</option>
                    <option value="DONE">DONE</option>
                    <option value="PAYMENT_PENDING">PAYMENT_PENDING</option>
                    <option value="CLOSED">CLOSED</option>
                </select>
            </div>

            <div class="col-md-2">
                <button class="btn btn-dark w-100">Filter</button>
            </div>

        </form>

    </div>
</div>


<div class="card shadow-sm">
    <div class="card-body">

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Xizmat</th>
                <th>Mijoz</th>
                <th>Status</th>
                <th>Sana</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for o in orders %}
            <tr>
                <td>#{{ o.id }}</td>
                <td>{{ o.service.name if o.service else "-" }}</td>
                <td>{{ o.phone }}</td>
                <td>
                    <span class="badge bg-secondary">{{ o.status.value }}</span>
                </td>
                <td>{{ o.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
                <td>
                    <a href="/admin/orders/{{ o.id }}" class="btn btn-sm btn-dark">Ko‘rish</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}
